@use '../../../styles' as *;

.app-header {
  background-color: var(--color-primary);
  color: var(--color-neutral-black);
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: 55px 1fr;
  }

  .logo {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
  }

  nav {
    a {
      color: var(--color-neutral-black);
      text-decoration: none;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--color-primary-500);
      }

      &.active {
        background-color: var(--color-primary-500);
        font-weight: 600;
      }
    }
  }
}
