@use "../../../styles" as *;
@use "../../../styles/mixins";

.app-header {
  background-color: var(--color-primary);
  color: var(--color-neutral-black);
  padding: 1rem 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  .container {
    display: grid;
    align-items: center;
    grid-template-columns: 55px 1fr;
    @include mixins.container();
  }

  .logo {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
