@use "../../../styles/variables";
@use "../../../styles/mixins";

.page-ocr {
  container-type: inline-size;
  container-name: page-ocr;
  @include mixins.container();
  .page-ocr-inner {
    display: grid;
    gap: variables.$gap;
    grid-template-columns: 360px 1fr;

    @container page-ocr (max-width: 820px) {
      grid-template-columns: 1fr;
    }
  }

  form {
    position: sticky;
    top: 20px;
    fieldset {
      border: 1px solid var(--color-neutral-400);
      border-radius: variables.$border-radius;
      padding: 1.5rem;
      background: var(--color-neutral-white);

      legend {
        padding: 0 0.5rem;
        color: var(--color-neutral-black);
        font-weight: 600;
      }
    }

    .form-group {
      margin-bottom: 1rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
        color: var(--color-neutral-700);
        font-weight: 500;
      }
    }

    input[type="file"] {
      padding: 0.75rem;
      border: 2px dashed var(--color-neutral-400);
      border-radius: 4px;
      background: var(--color-neutral-100);
      cursor: pointer;
      transition: all 0.3s ease;
      width: 100%;
      display: block;
      font-size: 0.75rem;
      font-family: variables.$monospace;

      &:hover,
      &:focus-visible {
        border-color: var(--color-success);
        background: var(--color-success-100);
      }

      // Style the "Browse" button in Chrome/Edge
      &::-webkit-file-upload-button {
        padding: 0.25rem 0.5rem;
        border: 1px solid var(--color-neutral-400);
        border-radius: 4px;
        background: var(--color-neutral-200);
        color: var(--color-neutral-800);
        font-family: variables.$font-family;
        font-weight: 500;
        margin-right: 10px;
        cursor: pointer;
        font-size: 0.75rem;
        transition: background 0.3s;
      }

      &::file-selector-button {
        padding: 0.5rem 1rem;
        border: 1px solid var(--color-neutral-400);
        border-radius: 4px;
        background: var(--color-neutral-200);
        color: var(--color-neutral-800);
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s;
      }
      &:hover,
      &:focus-visible {
        &::file-selector-button {
          background: var(--color-success-100);
          border-color: var(--color-success);
          color: var(--color-success-700);
        }
      }
    }

    .info-text {
      margin-top: 0.5rem;
      font-size: 0.875rem;
      color: var(--color-neutral-600);
    }

    .clear-button {
      margin-top: 0.75rem;
      padding: 0.5rem 1rem;
      background-color: var(--color-neutral-100);
      border-radius: 4px;
      border: 1px solid var(--color-neutral-500);
      color: var(--color-neutral-800);
      cursor: pointer;
      font-size: 1rem;
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 0.05em;
      transition: background 0.3s ease;
      &:hover,
      &:hover {
        background: var(--color-neutral-400);
      }
    }
  }

  .error-message {
    background: var(--color-warning-100);
    color: var(--color-warning);
    padding: 1rem;
    border-radius: 4px;
    border-left: 4px solid var(--color-warning);
    margin-bottom: 1rem;
  }

  .error-messages {
    margin-top: 40px;
    background: var(--color-warning-600);
    border: 1px solid var(--color-warning-200);
    color: var(--color-warning-100);
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    animation: shake 0.5s ease-in-out;

    h2 {
      text-transform: uppercase;
      font-size: 1.15rem;
    }

    ul {
      //padding-left: 1.5rem;

      li {
        margin-bottom: 0.25rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-16px);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(16px);
    }
  }

  .empty-state {
    min-height: 80%;
    border-radius: variables.$border-radius;
    border: 1px solid var(--color-neutral-400);
    background-color: var(--color-neutral-200);
    color: var(--color-neutral-600);
    padding: 1.5rem;

    dl {
      display: grid;
      gap: 0.5em;
    }

    dt {
      font-weight: 600;
    }

    .requirements-list {
      display: grid;
      gap: 0.5em;

      li {
        margin-bottom: 0.5rem;
        display: grid;
        grid-template-columns: 8px 1fr;
        gap: 16px;

        .icon {
          aspect-ratio: 1/1;
          background-color: var(--color-neutral-600);
          border-radius: 50%;
          margin-top: 8px;
        }

        &.passed {
          color: var(--color-success-600);

          .icon {
            background-color: var(--color-success-600);
          }
        }

        &.failed {
          color: var(--color-warning-600);

          .icon {
            background-color: var(--color-warning-600);
          }
        }
      }
    }
  }

  .table-container {
    background: var(--color-neutral-white);
    border-radius: variables.$border-radius;
    border: 1px solid var(--color-neutral-400);
    padding: 1.5rem;

    table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid var(--color-neutral-400);

      caption {
        font-size: 1.75rem;
        text-align: left;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.125rem;
        letter-spacing: 0.1em;
        padding-bottom: 1em;
      }

      thead {
        th {
          padding: 0.5rem;
          text-align: left;
          font-weight: 600;
          background-color: var(--color-neutral-800);
          color: var(--color-neutral-100);
          text-transform: uppercase;
          font-size: 0.875rem;
        }
      }

      tbody {
        td {
          padding: 0.5rem;
          color: var(--color-neutral-700);
          &.policy-number {
            font-family: variables.$font-family;
          }
        }
        tr {
          td {
            border-top: 1px solid var(--color-neutral-400);
          }
          &.error {
            td {
              background-color: var(--color-warning-100);
              &.result {
                font-weight: 600;
                color: var(--color-warning-600);
              }
            }
          }
        }
      }
      tfoot {
        td {
          padding: 0.5rem;
          text-align: left;
          font-weight: 600;
          background-color: var(--color-neutral-800);
          color: var(--color-neutral-100);
          text-transform: uppercase;
          font-size: 0.875rem;
          position: sticky;
          bottom: 80px;
          z-index: 3;
        }
      }
    }

    .submission-process {
      border-top: 1px solid var(--color-neutral-300);
      padding-top: 2rem;
      padding-bottom: 1rem;
      position: sticky;
      bottom: 0;
      background-color: var(--color-neutral-white);

      .submit-button {
        padding: 0.875rem 1.5rem;
        background: var(--color-secondary);
        color: var(--color-neutral-white);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        transition: background 0.3s ease;

        &:hover:not(:disabled),
        &:focus-visible {
          background: var(--color-secondary-500);
        }

        &:disabled {
          background: var(--color-neutral-500);
          cursor: not-allowed;
          opacity: 0.7;
        }
      }

      .progress-container {
        .progress-bar {
          width: 100%;
          height: 52px;
          background: var(--color-neutral-300);
          border-radius: 4px;
          overflow: hidden;

          .progress-fill {
            height: 100%;
            background: var(--color-secondary);
            animation: progress 2s ease-in-out;
            border-radius: 4px;
          }
        }

        .progress-text {
          margin-top: 0.75rem;
          text-align: center;
          color: var(--color-neutral-700);
          font-weight: 500;
        }
      }

      @keyframes progress {
        0% {
          width: 0%;
        }
        100% {
          width: 100%;
        }
      }

      .submission-message {
        padding: 1rem;
        border-radius: 4px;
        font-weight: 500;

        &.success {
          background: var(--color-success-100);
          color: var(--color-success-600);
          border: 1px solid var(--color-success-600);
        }

        &.error {
          background: var(--color-warning-100);
          color: var(--color-warning-600);
          border: 1px solid var(--color-warning-600);
        }

        .submission-details {
          display: flex;
          gap: 0.25rem;
          align-items: baseline;
          dt {
            font-weight: 400;
          }
          dd {
            font-family: "Courier New", Courier, monospace;
            font-weight: 700;
          }
          flex-wrap: wrap;
        }
      }
    }
  }
}
